@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/public-sans-v4-latin-100.woff2") format("woff2"), url("../fonts/public-sans-v4-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v4-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v4-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/public-sans-v4-latin-500.woff2") format("woff2"), url("../fonts/public-sans-v4-latin-500.woff") format("woff");
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", "Arial", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  display: inline-block;
  min-width: 100px;
  padding: 8px 33px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #ffffff;
  background-image: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  opacity: 0.4;
}

.site-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-top: 33px;
  padding-bottom: 27px;
}

.logo__img {
  display: block;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
  list-style-type: none;
}

.curtain {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
}

.nav__item {
  margin-left: 15px;
  margin-right: 15px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #9597a5;
  transition: all 0.3s ease;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  display: block;
  height: 4px;
  background-image: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  transition: width 0.3s ease;
}
.nav__link:hover {
  color: #2d314d;
  cursor: pointer;
}
.nav__link:hover::after {
  width: 100%;
}

.invite {
  text-transform: capitalize;
}

.menu {
  position: absolute;
  right: 0;
  top: 35%;
  display: none;
  margin-right: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 780px) {
  .invite {
    display: none;
  }

  .nav__list {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .menu {
    display: block;
  }

  .nav__list {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    background-color: #ffffff;
    border-radius: 4px;
  }

  .nav__list--on {
    display: block;
  }

  .nav__list--on + .curtain {
    display: block;
  }

  .menu--close .menu__icon {
    background-image: url("../img/icon-close.svg");
  }

  .nav__link {
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #2d314d;
  }

  .nav__link::after {
    display: none;
  }
}
.site-main {
  padding-top: 80px;
}

.hero {
  position: relative;
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: linear-gradient(to bottom, #fafafa, #ffffff);
}

.hero__container {
  display: flex;
  align-items: flex-start;
}

.hero__heading {
  max-width: 420px;
  margin: 0;
  padding-bottom: 24px;
  font-size: 56px;
  line-height: 64px;
  font-weight: 100;
  color: #2d314d;
}

.hero__text {
  width: 450px;
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #9597a5;
}

.hero__img {
  position: absolute;
  top: -72px;
  right: -55px;
}

/*# sourceMappingURL=main.css.map */
