@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/public-sans-v4-latin-100.woff2") format("woff2"), url("../fonts/public-sans-v4-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v4-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v4-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/public-sans-v4-latin-500.woff2") format("woff2"), url("../fonts/public-sans-v4-latin-500.woff") format("woff");
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", "Arial", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  display: inline-block;
  min-width: 100px;
  padding: 8px 33px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #ffffff;
  background-image: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  opacity: 0.4;
}

.site-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-top: 33px;
  padding-bottom: 27px;
}

.logo__img {
  display: block;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
  list-style-type: none;
}

.curtain {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
}

.nav__item {
  margin-left: 15px;
  margin-right: 15px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #9597a5;
  transition: all 0.3s ease;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  display: block;
  height: 4px;
  background-image: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  transition: width 0.3s ease;
}
.nav__link:hover {
  color: #2d314d;
  cursor: pointer;
  opacity: 0.8;
}
.nav__link:hover::after {
  width: 100%;
}

.invite {
  text-transform: capitalize;
}

.menu {
  position: absolute;
  right: 0;
  top: 35%;
  display: none;
  margin-right: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 780px) {
  .invite {
    display: none;
  }

  .nav__list {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .menu {
    display: block;
  }

  .nav__list {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    background-color: #ffffff;
    border-radius: 4px;
  }

  .nav__list--on {
    display: block;
  }

  .nav__list--on + .curtain {
    display: block;
  }

  .menu--close .menu__icon {
    background-image: url("../img/icon-close.svg");
  }

  .nav__link {
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #2d314d;
  }

  .nav__link::after {
    display: none;
  }
}
.site-main {
  padding-top: 80px;
}

.hero {
  position: relative;
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: linear-gradient(to bottom, #fafafa, #ffffff);
}

.hero__container {
  display: flex;
  align-items: flex-start;
}

.hero__heading {
  max-width: 420px;
  margin: 0;
  padding-bottom: 24px;
  font-size: 56px;
  line-height: 64px;
  font-weight: 100;
  color: #2d314d;
}

.hero__text {
  max-width: 450px;
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #9597a5;
}

.hero__img {
  position: absolute;
  top: -72px;
  right: -55px;
  max-width: 115%;
  height: auto;
}

@media only screen and (max-width: 1190px) {
  .hero__container-left {
    margin-top: 350px;
  }
}
@media only screen and (max-width: 1120px) {
  .hero__container-left {
    margin-top: 580px;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 139px;
    height: 20px;
  }

  .hero__container-left {
    margin-top: 400px;
  }

  .hero__heading {
    font-size: 46px;
    line-height: 54px;
  }

  .hero__text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 500px) {
  .hero__container-left {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 450px) {
  .hero__container-left {
    margin-top: 250px;
  }

  .hero__heading {
    font-size: 38px;
    line-height: 46px;
  }

  .hero__text {
    font-size: 14px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 360px) {
  .hero__container-left {
    margin-top: 180px;
  }
}
.choose {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f5f7;
}

.choose__heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 64px;
  font-weight: 100;
  color: #2d314d;
}

.choose__text {
  max-width: 635px;
  margin-bottom: 72px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #9597a5;
}

.choose__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -15px;
  margin-left: -15px;
  padding: 0;
  list-style-type: none;
}

.choose__item {
  display: flex;
  flex-direction: column;
  width: 255px;
  margin-right: 15px;
  margin-left: 15px;
}

.choose__item::before {
  content: "";
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.cards::before {
  background-image: url("../img/icon-cards.png"), linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
}

.message::before {
  background-image: url("../img/icon-message.png"), linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
}

.onboarding::before {
  background-image: url("../img/icon-onboarding.png"), linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
}

.api::before {
  background-image: url("../img/icon-api.png"), linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
}

.choose__item-heading {
  margin: 0;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  color: #2d314d;
  letter-spacing: -0.43px;
  text-transform: capitalize;
}

.choose__item-text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #9597a5;
}

@media only screen and (max-width: 1150px) {
  .choose {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .choose__heading, .choose__text {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .choose__list {
    justify-content: center;
  }

  .choose__item {
    margin-bottom: 32px;
  }

  .choose__item-heading {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .choose__item {
    align-items: center;
    text-align: center;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cards::before {
    background-image: url("../img/icon-cards@2x.png"), linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
    background-size: 40px auto, auto;
  }

  .message::before {
    background-image: url("../img/icon-message@2x.png"), linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
    background-size: 40px auto, auto;
  }

  .onboarding::before {
    background-image: url("../img/icon-onboarding@2x.png"), linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
    background-size: 40px auto, auto;
  }

  .api::before {
    background-image: url("../img/icon-api@2x.png"), linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
    background-size: 40px auto, auto;
  }
}
.articles {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.articles__heading {
  margin: 0;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.71px;
  font-weight: 100;
  color: #2d314d;
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.articles__item {
  width: 255px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 32px;
}

.articles__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.articles__link:hover .articles__item-heading {
  color: #30c88f;
}

.articles__img {
  order: -2;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 25px;
}

.articles__author {
  order: -1;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.16px;
  color: #9597a5;
}

.articles__item-heading {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  letter-spacing: -0.29px;
  color: #2d314d;
}

.articles__text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #9597a5;
}

@media only screen and (max-width: 900px) {
  .articles__heading {
    text-align: center;
  }

  .articles__list {
    justify-content: center;
  }
}
.site-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #2d314d;
}

.site-footer__container {
  display: flex;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-left__logo {
  padding: 0;
}

.footer-left__list {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-left__item:not(:last-child) {
  margin-right: 13px;
}

.footer-left__link:hover .social-icons {
  fill: #30c88f;
}

.site-footer__list {
  display: flex;
  flex-wrap: wrap;
  width: 381px;
  min-height: 100px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 130px;
}

.site-footer__item {
  margin-right: 95px;
  margin-bottom: 8px;
}

.site-footer__link {
  display: inline-block;
  min-width: 95px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.23px;
  text-transform: capitalize;
  white-space: nowrap;
  color: #ffffff;
  text-decoration: none;
}

.site-footer__link:hover {
  color: #30c88f;
}

.footer-right {
  margin-left: auto;
  text-align: right;
}

.footer-right__copy {
  margin-top: 24px;
  font-size: 15px;
  line-height: 26px;
  color: #9597a5;
}

@media only screen and (max-width: 780px) {
  .footer-left {
    align-items: center;
  }

  .footer-left__logo {
    margin-bottom: 32px;
  }

  .site-footer__container {
    flex-direction: column;
    align-items: center;
  }

  .site-footer__list {
    flex-direction: column;
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 200px;
  }

  .site-footer__item {
    margin-right: 0;
    text-align: center;
  }

  .footer-right {
    margin-left: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
