.button {
	position: relative;
	display: inline-block;
	min-width: 100px;
	padding: 8px 33px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 500;
	color: $main-white;
	background-image: $main-gradinet;
	border-radius: $global-radius;
	text-align: center;
	text-decoration: none;
	overflow: hidden;

	&:hover::before {
		background-color: rgba(255, 255, 255, 0.4);
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0);
	}
}
