.choose {
	padding-top: 96px;
	padding-bottom: 96px;
	background-color: #f4f5f7;
}
.choose__heading {
	margin: 0;
	margin-bottom: 16px;
	font-size: 40px;
	line-height: 64px;
	font-weight: 100;
	color: $main-black;
}
.choose__text {
	max-width: 635px;
	margin-bottom: 72px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: $main-gray;
}
.choose__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-right: -15px;
	margin-left: -15px;
	padding: 0;
	list-style-type: none;
}
.choose__item {
	display: flex;
	flex-direction: column;
	width: 255px;
	margin-right: 15px;
	margin-left: 15px;
}
.choose__item::before {
	content: "";
	width: 72px;
	height: 72px;
	margin-bottom: 40px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
}
.cards::before {
	background-image: url("../img/icon-cards.png"), $main-gradinet;
}
.message::before {
	background-image: url("../img/icon-message.png"), $main-gradinet;
}
.onboarding::before {
	background-image: url("../img/icon-onboarding.png"), $main-gradinet;
}
.api::before {
	background-image: url("../img/icon-api.png"), $main-gradinet;
}
.choose__item-heading {
	margin: 0;
	margin-bottom: 26px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 100;
	color: $main-black;
	letter-spacing: -0.43px;
	text-transform: capitalize;
}
.choose__item-text {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: $main-gray;
}

@include breakpoint-down(1150px) {
	.choose {
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.choose__heading, .choose__text {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	.choose__list {
		justify-content: center;
	}
	.choose__item {
		margin-bottom: 32px;
	}
	.choose__item-heading {
		margin-bottom: 0;
	}
}

@include breakpoint-down(600px) {
	.choose__item {
		align-items: center;
		text-align: center;
	}
}

@include retina() {
	.cards::before {
		background-image: url("../img/icon-cards@2x.png"), $main-gradinet;
		background-size: 40px auto, auto;
	}
	.message::before {
		background-image: url("../img/icon-message@2x.png"), $main-gradinet;
		background-size: 40px auto, auto;
	}
	.onboarding::before {
		background-image: url("../img/icon-onboarding@2x.png"), $main-gradinet;
		background-size: 40px auto, auto;
	}
	.api::before {
		background-image: url("../img/icon-api@2x.png"), $main-gradinet;
		background-size: 40px auto, auto;
	}
}